body {
	background-color: #f0f0f0;
	line-height: 1.5;
	padding: 15px;
}
h2{
	text-decoration: underline;
}

.container{
	display: flex;
	justify-content: center;
	
}

img {
display: inline-block;
height:250px;
width: 250px;
border: 2px solid black;
border-radius: 5%;
}
.container > p{
	margin: 0px;
}

footer{
background-color: ivory;
margin: 10px;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}